<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Pywal-web</title>
</head>
<body>
<p>
<h1>Tornado Upload App</h1></p>
<form enctype="multipart/form-data" action="/upload" method="post">
    File: <input type="file" name="file1"/>
    <br/>
    <br/>
     <select name="export">
        {% for option in ["css", "dwm", "st", "tabbed", "gtk2", "json", "konsole", "plain", "putty", "rofi", "scss",
        "shell", "sway", "tty", "xresources", "yaml"] %}
          <option value="{{option}}">{{option}}</option>
        {%end%}
    </select>
    <input type="submit" value="upload"/>
</form>
</body>
